<div class="row justify-content-center mt-5">
  <div class="col-md-4 text-area-color rounded">

    <input type="text" class="w-100 form-row remove-bg-input mt-2" style="height:50px;font-size:30px;text-align:center;color:#F0FFF0" placeholder="7" disabled/>

    <input type="text" class="w-100 form-row remove-bg-input" style="height:30px;font-size:16px;text-align:right;color:#778899" placeholder="3+4" />
    <hr/>
    <div class="row row-color">
      <div class="col-md-3">
        <button class="btn btn-block calculator-btn">+</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block calculator-btn">-</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block calculator-btn">x</button>
      </div>
      <div class="col-md-3">
        <button class="btn  btn-block calculator-btn">/</button>
      </div>
    </div>

    <div class="row row-color">
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">7</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">8</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">9</button>
      </div>
    </div>

    <div class="row row-color">
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">4</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">5</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">6</button>
      </div>
    </div>

    <div class="row row-color">
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">1</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">2</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">3</button>
      </div>
    </div>

    <div class="row row-color">
      <div class="col-md-8">
        <button class="btn btn-block calculator-btn">0</button>
      </div>

      <div class="col-md-4">
        <button class="btn btn-block calculator-btn">=</button>
      </div>
    </div>

  </div>
</div>

